[defaults]
host_key_checking = False

[persistent_connection]
ssh_type = paramiko

[ssh_connection]
ssh_args = -o KexAlgorithms=+diffie-hellman-group14-sha1 -o MACs=+hmac-sha1,hmac-sha1-96 -o HostKeyAlgorithms=+ssh-rsa
